#image {
    width: 20%;
    
    
}

#imgDiv {
    display: flex;
    justify-content: center;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    font-family: cursive;
    
    
}