.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.box {
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.box1 {
    background-color: #e74c3c;
}

.box2 {
    background-color: #2ecc71;
}

.box3 {
    background-color: #f1c40f;
}

.box4 {
    background-color: #9b59b6;
}

.box1:hover {
    transform: scale(1.5);
}

.box2:hover {
    transform: rotate(45deg);
}

.box3:hover {
    transform: skew(20deg);
}

.box4:hover {
    transform: translateY(-20px);
} 